<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_field :title, id: :note_title, class: 'form-control' %>
    </div>
  </div>

  <div class="field form-group">
  <%= form.label 'Tags', class: 'col-sm-2 control-label' %>
    <div class="col-md-12">
      <div id="email-html"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
      <input class="form-control" type="hidden" name="tags" id="emails"/>
		</div>
		<div class="col-md-12">
			<div class="ui-widget">
			  <input class="form-control" id="tags">  
			</div>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :content , class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= form.text_area :content, id: :note_content, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>