<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />
<table class=table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show',note, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_note_path(note), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path,  class: 'btn btn-success'%>

