<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<%= form_tag notes_path, method: 'GET' do %>  
<div class="row">
    
		<div class="col-md-12">
      <div id="email-html"></div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
        <input class="form-control" type="hidden" name="tags" id="emails"/>
		</div>
		<div class="col-md-12">
			<div class="ui-widget">
			  <input class="form-control" id="tags">  
			</div>
    </div>

    <input type="submit" class="btn btn-success"></input>
    
</div>
<% end %>
  
<table class=table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show',note, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_note_path(note), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path,  class: 'btn btn-success'%>

<script>
var selected = [];
var availableTags = [];
function removeEmail(email){
  availableTags.push(email);
  var i = selected.indexOf(email);
  selected.splice(i, 1);
  refreshDiv();
}
function refreshDiv(){
  $("#emails").val(selected.join(','));
  var email_html = selected.map(function(f, i){
    return "<span class='btn btn-info btn-sm' style='margin: 3px;'>"+f+"&nbsp;&nbsp; <span onclick=\"removeEmail('"+f+"')\" style='color:red'>x</span></span>";
  });
  $("#email-html").html(email_html);
}
$(document).ready(function() {
  
   $.ajax({
     url: '/get_tag_list',
     type: 'GET',
     success: function(result) {
       console.log(result);
       let tagList = result["data"]["tags"];
       tagList.forEach(function(tag) {
        availableTags.push(tag["name"]);
       })
       $( function() {
        $("#tags").autocomplete({
          source: availableTags,
          select: function( event, ui){
            var value = ui.item.value;
            selected.push(value);
            refreshDiv();
            var i = availableTags.indexOf(value);
            availableTags.splice(i, 1);
            event.preventDefault();
            $("#tags").focusout();
            $("#tags").val('');
          }
        });
      });
     }, 
     error: function(err) {
       console.log(err);
     }
   })
});
  
</script>