
<% if notice.present? %>
<div class="alert alert-success" role="alert">
  <%= notice %>
</div>
<% end %>

<p>
  <h3><strong>Title</strong></h3>
  <%= @note.title %>
</p>

<p>
  <h3><strong>Content</strong></h3>
  <%= @note.content %>
</p>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-warning' %> 
  <%= link_to 'Back', notes_path,  class: 'btn btn-warning' %>
</div>

