<!DOCTYPE html>
<html>
  <head>
    <title>GrofersNotesApp</title>
    <%= csrf_meta_tags %>
    <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  </head>

  <body>
    <div id="main-container" class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path , class: 'btn btn-warning btn-xs' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
